$width: 1220px;

$primary-text-color: #000;
$secondary-text-color: #7D7987;
$text-white-color: #fff;

$primary-btn-bg-color: #458FF6;
$primary-btn-text-color: #fff;

$secondary-btn-bg-color: #e5e5e5;
$secondary-btn-text-color: #458FF6;
$secondary-btn-border: 1.4px solid #458FF6;

$btn-border-radius: 55px;
